{% extends '::base.html.twig' %}

{% block body -%}
    <div class="portlet box grey">
        <div class="portlet-title">
            <div class="caption"><i class="icon-cogs"></i>Site setting

            </div>
            <div id="" class="date-tooltip" >
                <i class="fa fa-calendar"></i>
                {{ "now"|date("d-F-Y") }}
            </div>
        </div>
        <div>

            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('homepage') }}" >Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>

                    <a href="javascript:" >Site setting</a>

                </li>

                <li class="pull-right custom-pull-right" >
                    <a class="btn purple-stripe active">Listing<i class="icon-headphones"></i></a>
                </li>
            </ul>
        </div>
        {% include('flash-message.html.twig')  %}
        <div class="form-group form-group-custom backgroundWhite ">

            <div class="tabbable tabbable-custom" >
                <table class="table table-striped table-bordered table-hover table-full-width dataTable" >
                    <thead class="header">
                    <tr>
                        <th>User Name </th>
                        <th>Sub-domain</th>
                        <th>Web theme </th>
                        <th>Mobile theme </th>
                        <th class="col-md-3">Action</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for entity in entities %}

                        <tr>

                            <td>{{ entity.user }}</td>
                            <td>{{ entity.user.globalOption.subDomain }}</td>
                            <td>{% if(entity.webTheme) %}{{ entity.webTheme.name }}{% endif %}</td>
                            <td>{% if(entity.mobileTheme) %}{{ entity.mobileTheme.name }}{% endif %}</td>
                            <td>

                                <a class="btn mini green-stripe btn-action" href="{{ path('sitesetting_edit', { 'id': entity.id }) }}">Edit</a>
                                <a class="btn mini blue-stripe btn-action" href="{{ path('sitesetting_show', { 'id': entity.id }) }}">View</a>
                                <a class="btn mini red-stripe btn-action delete" href="javascript:" rel="{{ path('sitesetting_delete', { 'id': entity.id }) }}" >Delete</a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
{% endblock %}
