<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <title>BD-Educations | Admin Panel</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% stylesheets filter='cssrewrite'
    'assets/plugins/font-awesome/css/font-awesome.min.css'
    'assets/plugins/bootstrap/css/bootstrap.min.css'

    'assets/plugins/uniform/css/uniform.default.css'

    'assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
    'assets/plugins/fancybox/source/jquery.fancybox.css'
    'assets/plugins/jquery-file-upload/css/jquery.fileupload-ui.css'
    'assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css'
    'assets/plugins/gritter/css/jquery.gritter.css'
    'assets/plugins/select2/select2_metro.css'
    'assets/plugins/clockface/css/clockface.css'
    'assets/plugins/bootstrap-datepicker/css/datepicker.css'
    'assets/plugins/jquery-multi-select/css/multi-select.css'
    'assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch-metro.css'
    'assets/plugins/jquery-tags-input/jquery.tagsinput.css'
    'assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css'
    'assets/css/plugins.css'
    'assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css'
    'assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.css'
    'assets/css/style-metronic.css'
    'assets/plugins/jquery-nestable/jquery.nestable.css'
    'assets/css/style.css'
    'assets/css/style-responsive.css'
    'assets/css/themes/default.css'
    'assets/css/pages/inbox.css'
    'assets/plugins/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css'
    'assets/css/custom.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="shortcut icon" href="favicon.ico"/>

</head>
<body class="page-header-fixed {{ app.request.locale }}{% block bodyClass %}{% endblock bodyClass %}">

<div class="modal fade" id="ajax" tabindex="-1" role="basic" aria-hidden="true">
    {% image 'assets/img/ajax-modal-loading.gif'
    filter='' output='/img/ajax-modal-loading.gif' %}
    <img src="{{ asset_url }}" alt="" class="loading"/>
    {% endimage %}
</div>

<div class="header navbar navbar-inverse navbar-fixed-top">
    <div class="header-inner">

        <a class="navbar-brand" href="#">
            <div style="margin-left: 25px; font-size: 25px; color: royalblue;">BDEducations</div>
        </a>

        <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            {% image 'assets/img/menu-toggler.png'
            filter='' output='/img/menu-toggler.png' %}
            <img src="{{ asset_url }}" alt="menu-toggler"/>
            {% endimage %}
        </a>

        <ul class="nav navbar-nav pull-right">
            <li class="dropdown user">
                <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                   data-close-others="true">
                    {% image 'assets/img/avatar1.png'
                    filter='' output='/img/avatar1.png' %}
                    <img src="{{ asset_url }}"/>
                    {% endimage %}
                    <span class="username">{{ app.user }}</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/profile" class="btnColor"><i class="fa fa-user"></i> My Profile</a>
                    </li>
                    <li>
                        <a href="/logout" class="btnColor"><i class="fa fa-key"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>

<div class="clearfix"></div>

<div class="page-container">
{#{{ dump(app.security.token.user.roles) }}#}
{% block navigation %}
    <div class="page-sidebar navbar-collapse collapse">
        {{ include('sidebar.html.twig')}}
    </div>

{% endblock navigation %}

    {#{{ include('::script.html.twig') }}#}

    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

</div>
{#<button id="confirm_opener" class="btn green">Open Dialog</button>#}
{#<div id="dialog_confirm" title="Empty the recycle bin?" class="hide">#}
    {#<p><span class="icon icon-warning-sign"></span>#}
        {#These items will be permanently deleted and cannot be recovered. Are you sure?#}
    {#</p>#}
{#</div>#}

{% javascripts
'assets/plugins/respond.min.js'
'assets/plugins/excanvas.min.js'
'assets/plugins/jquery-1.10.2.min.js'
'assets/plugins/jquery-migrate-1.2.1.min.js'
'assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js'
'assets/plugins/bootstrap/js/bootstrap.min.js'
'assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js'
'assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
'assets/plugins/jquery.blockui.min.js'
'assets/plugins/jquery.cookie.min.js'
'assets/plugins/uniform/jquery.uniform.min.js'

'assets/plugins/flot/jquery.flot.js'
'assets/plugins/flot/jquery.flot.resize.js'
'assets/plugins/jquery.pulsate.min.js'
'assets/plugins/bootstrap-daterangepicker/moment.min.js'
'assets/plugins/bootstrap-daterangepicker/daterangepicker.js'
'assets/plugins/gritter/js/jquery.gritter.js'
'assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js'
'assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js'
'assets/plugins/jquery.sparkline.min.js'
'assets/scripts/app.js'
'assets/scripts/index.js'
'assets/scripts/tasks.js'
'assets/plugins/jquery-validation/dist/jquery.validate.min.js'
'assets/plugins/data-tables/jquery.dataTables.js'
'assets/plugins/select2/select2.min.js'

'assets/plugins/jquery-validation/dist/additional-methods.min.js'
'assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js'
'assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js'
'assets/plugins/ckeditor/ckeditor.js'
'assets/plugins/bootstrap-markdown/js/bootstrap-markdown.js'
'assets/plugins/bootstrap-markdown/lib/markdown.js'
'assets/plugins/data-tables/jquery.dataTables.js'
'assets/plugins/data-tables/DT_bootstrap.js'

'assets/scripts/form-validation.js'
'assets/scripts/table-managed.js'

'assets/plugins/bootstrap/js/bootstrap2-typeahead.min.js'
'assets/plugins/fuelux/js/spinner.min.js'
'assets/plugins/ckeditor/ckeditor.js'
'assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js'
'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
'assets/plugins/bootstrap-daterangepicker/moment.min.js'
'assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js'
'assets/plugins/jquery.input-ip-address-control-1.0.min.js'
'assets/plugins/jquery-multi-select/js/jquery.multi-select.js'
'assets/plugins/jquery-multi-select/js/jquery.quicksearch.js'
'assets/plugins/jquery.pwstrength.bootstrap/src/pwstrength.js'
'assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js'
'assets/plugins/jquery-tags-input/jquery.tagsinput.min.js'
'assets/plugins/bootstrap-markdown/js/bootstrap-markdown.js'
'assets/plugins/bootstrap-markdown/lib/markdown.js'
'assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js'
'assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js'
'assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
'assets/plugins/flot/jquery.flot.pie.js'
'assets/scripts/charts.js'
'assets/scripts/index.js'
'assets/scripts/tasks.js'
'assets/scripts/ui-jqueryui.js'
'assets/scripts/form-components.js'
'assets/scripts/jquery.mjs.nestedSortable.js'
'assets/scripts/nested-sortable.js'
'assets/plugins/plupload/js/plupload.full.js'
'assets/plugins/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js'
'assets/plugins/multi-datepicker/js/jquery.ui.datepicker.js'
'assets/plugins/multi-datepicker/js/jquery.ui.core.js'
'assets/plugins/multi-datepicker/js/jquery-ui.multidatespicker.js'

 %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{#'http://bp.yahooapis.com/2.4.21/browserplus-min.js'#}
<script type="text/javascript">
    jQuery(document).ready(function () {
        {% block documentready %}

        App.init();
        FormValidation.init();
        FormComponents.init();
        Tasks.initDashboardWidget();
        //Index.initPieCharts();
        UIJQueryUI.init();
        CloneDiv.init();
        //FormFileUpload.init();

        {% endblock %}
    });
</script>
{% block footer %}
    <div class="footer">
        <div class="footer-inner">
            {{ "now"|date("Y") }} &copy; Create By Business Booster Ltd.
        </div>
        <div class="footer-tools">
        <span class="go-top">
            <i class="fa fa-angle-up"></i>
        </span>
        </div>
    </div>
{% endblock footer %}

</body>

</html>
