{% extends '::base.html.twig' %}

{% block body -%}
    <div class="portlet box grey">
        <div class="portlet-title">
            <div class="caption"><i class="icon-cogs"></i>Thana/Upazila

            </div>
            <div id="" class="date-tooltip" >
                <i class="fa fa-calendar"></i>
                {{ "now"|date("d-F-Y") }}
            </div>
        </div>
        <div>

            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('homepage') }}" >Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>

                    <a href="javascript:" >Thana/Upazila</a>

                </li>

                <li class="pull-right custom-pull-right" >
                    <a class="btn green-stripe blue" href="{{ path('thana_new') }}"><i class="icon-plus"></i> New Create</a>
                    <a class="btn purple-stripe active">Listing<i class="icon-headphones"></i></a>


                </li>
            </ul>
        </div>
        {% include('flash-message.html.twig')  %}
        <div class="form-group form-group-custom backgroundWhite ">

            <div class="tabbable tabbable-custom" >
                <ul class="nav nav-tabs nav-custom" >
                    <li ><a href="{{ path('thana') }}">All</a></li>
                    <li class="active" ><a href="javascript:">Deleted</a></li>
                    <li class="pull-right">
                        {%  set keyword = app.request.query.get('keyword') %}
                        <form name="search" method="get" action="">
                            <div class="search-btn"><input type="submit" name="search" value="Search" class="btn green "></div>
                            <div class="search-input"><input type="text" name="keyword" id="search" class="form-control input-sm " value="{{ keyword }}"></div>
                        </form>
                    </li>
                </ul>
                {%  set direction = app.request.query.get('direction') %}
                <table class="table table-striped table-bordered table-hover table-full-width dataTable" >
                    <thead class="header">
                    <tr>
                        <th {% if pagination.isSorted('name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Thana/Upazila', 'name') }}{% if(direction =='desc') %}<i class="fa fa-caret-up custom-fa"></i> {% else %}<i class="fa fa-caret-down custom-fa"></i> {% endif %}</th>
                        <th {% if pagination.isSorted('district') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'District', 'district') }}{% if(direction =='desc') %}<i class="fa fa-caret-up custom-fa"></i> {% else %}<i class="fa fa-caret-down custom-fa"></i> {% endif %}</th>
                        <th>Division </th>
                        <th class="col-md-3">Action</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for entity in pagination %}

                        <tr>

                            <td>{{ entity.name }}</td>
                            <td>{{ entity.district.name }}</td>
                            <td>{{ entity.district.division.name }}</td>

                            <td>
                                {% if( entity.status == 1) %}
                                    <a class="btn mini green-stripe btn-action" href="{{ path('thana_status', { 'id': entity.id}) }}"><span class="badge badge-success">x</span></a>
                                {% else %}
                                    <a class="btn mini green-stripe btn-action" href="{{ path('thana_status', { 'id': entity.id}) }}"><span class="badge badge-important">a</span>    </a>
                                {% endif %}
                                <a class="btn mini green-stripe btn-action" href="{{ path('thana_edit', { 'id': entity.id }) }}">Edit</a>
                                <a class="btn mini blue-stripe btn-action" href="{{ path('thana_show', { 'id': entity.id }) }}">View</a>
                                <a class="btn mini red-stripe btn-action delete" href="javascript:" rel="{{ path('thana_delete', { 'id': entity.id }) }}" >Delete</a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>


        </div>
        <div class="navigation navigation-paging" >
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
