{% extends ':mobile/slasher:base.html.twig' %}
{% block body %}
    {{ include('mobile/slasher/header.html.twig')}}
    <div class="page-header-clear"></div>
    {% if(entity.user.homePage.photoGallery) %}
        <div class="slider-container">
            <div class="homepage-slider" data-snap-ignore="true">
                {% for image in entity.user.homePage.photoGallery.galleryImages %}
                    <div>
                        <div class="overlay"></div>
                        <div class="homepage-slider-caption">
                            <h3>{{ image.caption }}</h3>
                            <p>{{ image.description }}</p>
                        </div>
                        <img src="/{{ image.webPath }}" class="responsive-image" alt="img">
                    </div>
                {% endfor %}
            </div>
            <div class="homepage-slider-controls">
                <a href="#" class="next-home"></a>
                <a href="#" class="prev-home"></a>
            </div>
        </div>
    {% endif %}
    <div class="content">
        <div class="container">
                <h3>Welcome: {{ entity.name }}</h3>
                <div class="decoration"></div>
                <p class="text_left">{{ entity.user.homePage.content }}</p>
                <div class="decoration"></div>
        </div>

        <div class="one-responsive">
            {{ include('@Mobile/Module/homeFeature.html.twig')}}
        </div>

    </div>
    <div id="element_to_pop_up">
        <div class="module"></div>
    <span class="bpopup-button b-close">
        <span>X</span>
    </span>
    </div>

{% endblock %}
{% block documentready %}

    $('.newsModal').bind('click', function(e) {

        var self = $(this);
        $('#element_to_pop_up').bPopup({
        contentContainer:'.module',
        loadUrl:'/mobile/scholistic/modulecontent/news/'+self.data('bpopup')
        });

    });
    $('.eventModal').bind('click', function(e) {

        var self = $(this);
        $('#element_to_pop_up').bPopup({
        contentContainer:'.module',
        loadUrl:'/mobile/scholistic/modulecontent/event/'+self.data('bpopup')
        });

    });
{% endblock %}


