{% extends '::base.html.twig' %}

{% block body -%}
    <div class="portlet box grey">
        <div class="portlet-title">
            <div class="caption"><i class="icon-cogs"></i>Manage admission

            </div>
            <div id="" class="date-tooltip" >
                <i class="fa fa-calendar"></i>
                {{ "now"|date("d-F-Y") }}
            </div>
        </div>
        <div>

            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('homepage') }}" >Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>

                    <a href="javascript:" >Manage admission</a>

                </li>

                <li class="pull-right custom-pull-right" >
                    <a class="btn green-stripe blue" href="{{ path('admission_new') }}"><i class="icon-plus"></i> New Create</a>
                    <a class="btn purple-stripe active">Listing<i class="icon-headphones"></i></a>


                </li>
            </ul>
        </div>
        {% include('flash-message.html.twig')  %}
        <div class="form-group form-group-custom backgroundWhite ">

            <div class="tabbable tabbable-custom" >
                <table class="table table-striped table-bordered table-hover table-full-width dataTable" >
                    <thead class="header">
                    <tr>
                        <th>Name </th>
                        <th>Contact person </th>
                        <th>Mobile no</th>
                        <th>Start Date </th>
                        <th>End Date </th>
                        <th class="col-md-3">Action</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for entity in entities %}

                        <tr>

                            <td>{{ entity.name }}</td>
                            <td>{{ entity.contactPerson }}</td>
                            <td>{{ entity.mobileNo }}</td>
                            <td>{{ entity.startDate|date('d-m-Y') }}</td>
                            <td>{{ entity.endDate|date('d-m-Y') }}</td>

                            <td>
                                {% if( entity.status == 1) %}
                                    <a class="btn mini green-stripe btn-action" href="{{ path('admission_status', { 'id': entity.id}) }}"><span class="badge badge-success">x</span></a>
                                {% else %}
                                    <a class="btn mini green-stripe btn-action" href="{{ path('admission_status', { 'id': entity.id}) }}"><span class="badge badge-important">a</span>    </a>
                                {% endif %}
                                <a class="btn mini green-stripe btn-action" href="{{ path('admission_edit', { 'id': entity.id }) }}">Edit</a>
                                <a class="btn mini blue-stripe btn-action" href="{{ path('admission_show', { 'id': entity.id }) }}">View</a>
                                <a class="btn mini red-stripe btn-action delete" href="javascript:" rel="{{ path('admission_delete', { 'id': entity.id }) }}" >Delete</a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
{% endblock %}
