{% extends ':mobile/slasher:base.html.twig' %}
{% block body %}
    {{ include('mobile/slasher/header.html.twig')}}
    <div class="page-header-clear"></div>
    <div class="content">

        <div class="container">
            <div class="decoration"></div>
            <div class="tab-content tab-content-1">
                <h4>Contact Information</h4>
                {% for  details in entity.user.branches %}
                <div class="one-half-responsive">
                    <div class="container no-bottom">

                        <p>
                            <strong>{{ details.name }}</strong><br>
                            Address: {{ details.address|raw }}
                        </p>
                        <p>
                            <a href="javascript:" class="contact-person">Contact Person:{{ details.contactPerson|raw }}</a>
                            <a href="tel:+ 088 {{ details.mobile|raw }}" class="contact-call">Mobile: + 088 {{ details.mobile|raw }}</a>
                            {% if(details.phone) %}<a href="javascript:" class="contact-call">Phone: + {{ details.phone|raw }}</a>{% endif %}
                            {% if(details.fax) %}<a href="javascript:" class="contact-call">Fax: + {{ details.fax|raw }}</a>{% endif %}
                            <a href="mailto:{{ details.email|raw }}"  class="contact-mail">Email: {{ details.email|raw }}</a>
                        </p>
                    </div>
                </div>
                    <div class="decoration"></div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
