<div data-role="navbar" data-grid="d">
    <ul>
        <li><a class="ui-btn-active" data-icon="home" href="{{ path('mobile', { 'subdomain': 'scholastica'}) }}" class="ui-icon-home"></a></li>
        <li><a href="{{ path('mobile_content', { 'id': 1}) }}">About us</a></li>
        <li><a href="{{ path('mobile_content', { 'id': 2}) }}">Academics</a></li>
        <li><a href="{{ path('mobile_content', { 'id': 6}) }}" >Admission</a></li>
        <li><a href="{{ path('mobile_content', { 'id': 11}) }}">Parents & Students</a></li>
    </ul>
</div>
